<h1>Welcome to my website!</h1>

<p>
    My name is <b>Sándor Károly Duba</b>. This website was born to have my resume and my reference work at the same place.
</p>
<p>
    The repository is open for everyone under my
    <a target="blank" href="https://gitlab.com/sandorduba/sandor-karoly-duba-web-resume">
        <img style="max-height: 1.3em; width: auto; display: inline-block;" src="assets/img/gitlab-icon.png">GitLab
    </a>
    account.
</p>
<p>
    This website is clearly under development. I'm working on this in my free time (I don't have too much).
    If this changed, I will remove this block from the website.
</p>

<p>
    Anyway. Thanks for visiting my website. If you have any suggestion feel free to send me an email or add your
    thought to the repository.
</p>

<p>If you are looking for my resume, then visit the <a routerLink="/cv">CV</a> page.</p>

<p>
    If you want to know more about my developer story, then the <a routerLink="/about">about</a> page is here for you.
</p>

<p>Test Line ...</p>
